<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codex Arcana</title>
    <link rel="stylesheet" href="{% static 'css/charsheet.css' %}">
  </head>
  <body>
    <main>
    <div class="page">
      <h1>SEITE 1</h1>

    </div>
    <div class="page">
      <h1>SEITE 2</h1>
    </div>
    </main>


    <div aria-hidden="true">
      <div class="firefly"></div>
      <div class="firefly"></div>
      <div class="firefly"></div>
      <div class="firefly"></div>
      <div class="firefly"></div>
      <div class="firefly"></div>
      <div class="firefly"></div>
      <div class="firefly"></div>
      <div class="firefly"></div>
      <div class="firefly"></div>
      <div class="firefly"></div>
      <div class="firefly"></div>
      <div class="firefly"></div>
      <div class="firefly"></div>
      <div class="firefly"></div>
    </div>
  </body>
</html>
