<div class="p2_panel" id="sheetMovementPanel">
  <div class="move_row">
    <span class="move_title">Bewegung</span>
    <span>{{ movement_ground.combat }}</span>
    <span>{{ movement_ground.march }}</span>
    <span>{{ movement_ground.sprint }}</span>
    <span>{{ movement_ground.swim }}</span>
    <span>{{ movement_ground.fly }}</span>
  </div>
  <div class="move_labels">
    <span class="move_spacer" aria-hidden="true"></span>
    <span>Kampf</span><span>Marsch</span><span>Sprint</span><span>Schwimmend</span><span>Fliegend</span>
  </div>
</div>
